* { margin: 0; padding: 0; box-sizing: border-box;}

.main-name{ 
  text-decoration: none;
  color: inherit;
}

.navbar {
    height: 40px;
    background-color: #777272; /* 배경색은 원하는 색상으로 변경하세요 */
    display: flex;
    align-items: center;
  }
  .navbar .align-right{display: flex; margin-left: auto;}
  
  /* 네비게이션 바 내부 링크 스타일 */
  .navbar .align-right a {
    color: white; /* 링크 텍스트 색상은 원하는 색상으로 변경하세요 */
    text-decoration: none;
    padding: 8px 16px; /* 내부 여백은 원하는 크기로 조정하세요 */
  }
  
  /* 네비게이션 바 내부 링크 호버 효과 */
  .navbar a:hover {
    background-color: #555; /* 호버 시 배경색은 원하는 색상으로 변경하세요 */
  }